*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
body.show{
    overflow: hidden;
}

.datenschutz{
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        height: auto;    
        margin-bottom: 80px;
}
.start_platz{
    position: absolute;
    top: 0;
}

.header{
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    width: 100%;
    background-color: white;
    display: grid;
    justify-content: center;
    z-index: 999999999;
    padding-bottom: 35px;
    box-shadow: 0;
}
.header.scroll{
    box-shadow: rgba(0, 0, 0, 0.062) 0px 14px 28px, rgba(0, 0, 0, 0.062) 0px 10px 10px;
    background-color: white;
}
.header .active a{
    color: #242629 !important;
}


.header_nav{
    width: 1100px;
    margin-top: 25px;
}
.header_nav .logo{
    float: left;
    display: flex;
}
.header_nav .logo a{
    display: flex;
}
.header_nav .logo h2{
    color: #3A3E42;
}
.header_nav .logo img{
    height: 35px;
    padding-right: 15px;
}
.header_nav .menu_nav{
    float: right;
    padding-top: 10px;
    margin-right: 75px;
}
.header_nav .menu_nav ul li{
    cursor: pointer;
    display: inline;
    font-size: 18px;
    margin-left: 15px;
    color: #3a3e4277;
    font-weight: 700;
}
.header_nav .menu_nav ul li:hover{
    color: #3A3E42;
}
.header_nav .active{
    color: #3A3E42 !important;
}
.header_nav .l_r_nav{
    float: right;
    padding-top: 10px;
}
.header_nav .l_r_nav ul li{
    cursor: pointer;
    display: inline;
    font-size: 18px;
    margin-left: 20px;
    color: #3A3E42;
    font-weight: 700;
}
.header_nav .register_btn{
    border: #3A3E42 solid 2px;
    border-radius: 25px;
    padding: 15px;
}
.header_nav .register_btn:hover{
    background-color: #3A3E42;
    color: white;
}
.header_nav a{
    text-decoration: none;
    color: #3a3e4277;
}
.header_nav a:hover{
    color: #3A3E42 !important;
}


/* footer */

.footer{
    z-index: 999999999999999;
    width: 100%;
    background-color: white;
    display: grid;
    justify-content: center;
    border-top: 1px solid #3a3e4256;
    height: 60px;
}

.footer .header_nav{
    width: 1100px;
    margin-top: 15px;
}
.footer .header_nav .logo{
    float: left;
}
.footer .header_nav .logo h2{
    color: #3A3E42;
    font-size: 18px;
}
.footer .header_nav .menu_nav{
    float: right;
    margin-right: 75px;
}
.footer .header_nav .menu_nav ul li{
cursor: pointer;
display: inline;
font-size: 14px;
margin-left: 15px;
color: #3a3e4277;
font-weight: 700;
}
.footer .header_nav .menu_nav ul li:hover{
color: #3A3E42;
}
.footer .header_nav .active{
color: #3A3E42 !important;
}
.footer .header_nav .l_r_nav{
float: right;
}
.footer .header_nav .l_r_nav ul li{
cursor: pointer;
display: inline;
font-size: 14px;
margin-left: 20px;
color: #3A3E42;
font-weight: 700;
}


/* Main Seite */
.main{
    padding-top: 90px;

    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 150px;
}
.start{
    margin-top: 250px;
    margin-bottom: 400px;
}
.start .links{
    z-index: 99;
    float: left;
    width: 500px;
}
.start .links h2{
    color: #242629;
    font-size: 75px;
}
.start .links p{
    color: #3A3E42;
    font-size: 16px;
    width: 75%;
}
.start .links .btn{
    cursor: pointer;
    padding: 20px;
    border: 2px solid #242629;
    border-radius: 20px;
    width: 200px;
    text-align: center;
    margin-top: 45px;
    font-size: 18px;
    font-weight: 600;    
}
.start .links a{
    text-decoration: none;
    color: #242629;
}
.start .links .btn:hover, .start .links .btn:hover a{
    
    background-color: #242629;
    color: white;
}
.start .rechts{
    float: right;
    width: 500px;
}
.start .rechts img{
    position: absolute;
    top: 250px;
    right: 150px;
    height: 600px;
    width: auto;
    float: right;
}

.buchen{
    background-color: #dfab0083;
    width: 100%;
    height: 700px;
}
.buchen .begrenzer{
    width: 1100px;
    display: flex;

}
.buchen .info_text{
    width: 50%;
    float: left;
}
.buchen .info_text h2{
    margin-top: 200px;
    float: right;
    font-size: 50px;
    color: #242629;
    width: 170px;
    border-bottom: 2px solid #3A3E42;
}
.buchen .info_text div{
    float: right;
    margin-top: 15px;
    width: 100%;
    text-align: right;
    font-size: 18px;
}
.buchen .info_text div p{
    width: 40%;
    float: right;

}
.buchen .handy_box{
    width: 50%;
    float: right;
}
.buchen .vollbild_icon{
    cursor: pointer;
    position: relative;
    top: 300px;
    left: 345px;
    width: 40px;
    height: 40px;
}

.buchen .vollbild_icon img{
    height: 80px;
}
.buchen .img:hover{
    height: 120px !important;
}

.buchen .handy{
    float: right;
    margin-top: 25px;
    height: 650px;
    width: 350px;
    background-color: aliceblue;
    border-radius: 15px;
}



.info{
    padding-top: 90px;

    justify-content: center;
    display: grid;
    height: 350px;
}
.info .header_info{
    text-align: center;
    font-size: 26px;
    color: #242629;
}
.info .boxen{
    width: 1100px;
    display: flex;
}
.info .boxen .box{
    text-align: center;
}
.info .p_padding{
    padding-left: 35px;
    padding-right: 35px;
}

.info img{
    height: 25px;
}
.info .über{
    font-weight: 600;
    font-size: 18px;
}
.info a{
    font-size: 17px;
    color: #dfab00;
}




.service{
    justify-content: center;
    display: grid;
    height: 350px;
    padding-top: 90px;
}
.service .header_service{
    text-align: center;
    font-size: 26px;
    color: #242629;
}
.service .boxen{
    width: 1100px;
    display: flex;
}
.service .boxen .box{
    text-align: center;
}

.service img{
    height: 35px;
}
.service .über{
    font-weight: 600;
    font-size: 18px;
}
.service a{
    font-size: 17px;
    color: #dfab00;
}
.service .p_padding{
    padding-left: 35px;
    padding-right: 35px;

}



.kontakt{
    justify-content: center;
    display: grid;
    height: auto;
    margin-bottom: 150px;
}
.kontakt .header_kontakt{
    text-align: center;
    font-size: 26px;
    color: #242629;
    justify-content: center;
}
.kontakt .header_kontakt h3{
    font-size: 15px;
    font-weight: 700;
}
.kontakt .header_kontakt div{
    font-size: 17px;
    float: center;
    justify-content: center;
    display: flex;
}
.kontakt .header_kontakt p{
    width: 600px;

}
.kontakt .boxen{
    width: 1100px;
    display: flex;
    justify-content: center;
}
.kontakt .boxen .box{
    text-align: center;
    margin: 25px;
    background-color: white;
    height: 350px;
    width: 250px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

}
.kontakt img{
    height: 25px;
}
.kontakt .über{
    font-weight: 600;
    font-size: 18px;
}
.kontakt a{
    font-size: 17px;
    color: #dfab00;
}
.kontakt .box img{
    position: relative;
    left: 0;
    bottom: 0;
    height: 350px;
    width: 250px;
    border-radius: 10px;
}   
.kontakt .box h3{
    position: relative;
    top: -325px;
    font-size: 30px;
    color: white;
    z-index: 99999999;
}
.kontakt .box .div_blur{
    position: relative;
    top: -150px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.692);
}
.kontakt .box p{
    backdrop-filter: blur(4px);
}

/* impressum */
.imp{
    margin-top: 150px;
    color: #3A3E42;
}
.imp .ühberschrift{
    text-align: center;
    font-size: 25px;
    color: #242629;
    margin-bottom: 55px;
}
.imp .ühberschrift img{
    height:25px;
}
.impressum .footer{
    position: fixed;
    bottom: 0;
}
.footer .acitve{
    color: #3A3E42 !important
}

/* Login */
.login{
    margin-top: 150px;
    color: #3A3E42;
    margin-bottom: 75px;
}
.login .überschrift{
    text-align: center;
    font-size: 25px;
    color: #242629;
    margin-bottom: 50px;
}
.login .text {
    justify-content: center;
    text-align: center;
    width: 100%;
    display: flex;
}
.login .text .login_box{
    width: 600px;
    border-radius: 15px;

    justify-content: center;
    text-align: center;
}
.login .text  .div_name{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;

}
.login .text .div_pass{
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
}
.login .text1{
    border: 0.5px solid rgba(0, 0, 0, 0.486);
    border-radius: 5px;
    padding: 5px;
}
.login input{
    border: none;
    width: 94%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
}
.login .button input{
    cursor: pointer;
    border-radius: 15px;
    width: 80%;
    margin-top: 15px;
    background-color: #242629;
    color: white;
    font-size: 20px;
}
.login .title{
    position: relative;
    top: 10px;
    left: 15px;
    font-size: 15px;
    background-color: white;
    width: 120px;
    text-align: center;
}

.login .title2{
    position: relative;
    top: 10px;
    left: 15px;
    font-size: 15px;
    width: 90px;
    text-align: center;
    background-color: white;
}
.login .title3{
    position: relative;
    top: 10px;
    left: 15px;
    font-size: 15px;
    width: 180px;
    text-align: center;
    background-color: white;
}

.login .button{
    padding: 0;
    width: 100%;
}.login .register_link{
    margin-top: 5px;
    padding: 10px;
}
.login .register_link a{
    color: orange;
}
.login .register_link a:hover{
    color: rgb(221, 144, 0);
}

/* Vollbilld buchen */
.voll_bild{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999999999999;
    display: none; 
}
.voll_bild.show{
    display: inline;
}
.voll_bild .hindergrund_grau{
    background-color: rgba(0, 0, 0, 0.459);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999999999;
}

.close{
    position: absolute;
    margin: -340px 52px -566px 558px;
    left: 50%;
    top: 50%;
}
#close_btn_voll img{
    height: 30px;
    cursor: pointer;
}




.ticket .ticket_box{
    margin: 15px;

    background-color: white;
    padding: 15px;
    display: grid;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    margin-bottom: 25px;
    border-radius: 5px;
    margin-top: 15px;
    color: #3A3E42;
}
.ticket .ticket_box .zeit_ort{
    padding: 5px;
    border-radius: 5px;
    display: flex;
}
.ticket .ticket_box .zeit_ort .zeit{
    float: left;
    width: 100px;
}
.ticket .ticket_box .zeit_ort .zeit p{

    font-size: 18px;
    font-weight: 700;
}
.ticket .ticket_box .zeit_ort .ort p{
    font-size: 18px;
}
.ticket .ticket_box .t_info{
    padding-top: 15px;
    border-top: 1px solid black;
}
.ticket .ticket_box .t_info .dauer{
    float: left;
    display: inline-flex;
}
.ticket .ticket_box .t_info .dauer p{
    padding-left: 15px;
    font-size: 16px;

}
.ticket .ticket_box .t_info .dauer img{
    height: 30px;
}

.ticket .ticket_box .t_info .preis{
    float: right;
    font-size: 20px;
    margin-right: 50px;
    font-weight: 700;   
}

.ticket {
    width: 600px;
    margin-bottom: 75px;
  }
.header2 {
    justify-content: center;
    display: flex;
}


/*Ticket übersicht*/
.ticket_seite_body{
    overflow-x: hidden;
}
.div_ticket_öffnen{
    background-color:white;
    position: fixed;
    top: 0;
    left: 100%;
    right: 0;
    bottom: 0;
    z-index: 9999;
    transition: all 0.4s;
    visibility: hidden;
}
.div_ticket_öffnen.show{
    left: 0;
    visibility: visible;
}
.div_ticket_öffnen .header1{
    display: flex;
    background-color: orange;
    height: 60px;
}
.div_ticket_öffnen .header1 img{
    width: 40px;
    height: 40px;
    padding-top: 10px;
    padding-left: 20px;
}
.div_ticket_öffnen .header1 h2{
    background-color: transparent;
    border: none;
    width: 100%;
    margin-left: 15px;
    font-size: 18px;
    color: white !important;
    padding-top: 17px;;
}
.div_ticket_öffnen .header1 input:active{
    border: none;
}
.div_ticket_öffnen .table_text{
        display: grid;
        padding: 25px;
        text-align: center;
        justify-content: center;
    
}
.id_speicher_id_ticket{
    display: none;
}
#ticket_seite_body.block{
    overflow-y: hidden;
}
#ticket_seite_body{
    overflow-y: auto;
}
.imp .ühberschrift1 {
    margin-top: 150px;
    text-align: center;
    font-size: 25px;
    color: #242629;
}
.imp .ühberschrift1 img {
    height: 50px;
    margin-right: 100px;
    position: absolute;
    right: 60%;
    cursor: pointer;
}


.box_erfolgreich_div{
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}
.qr_code {
    border-top: black 2px dashed;
    background-color: white;
    border-radius: 10px;
    justify-content: center;
    padding: 15px;
}
.qr_code img{
    justify-content: center;
    width: 150px;
    margin: auto;
    display: flex;
}

/* setting  */
.setting .setting_inhalt{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;   
}
.setting .user_daten{
    float: left;
}
.setting .passwort{
    float: right;
}